In [1]:
# downloding catboost
!pip install -qU catboost

In [2]:
# imports
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
import catboost as cb
from sklearn.metrics import r2_score

In [3]:
# loading data
df = sns.load_dataset('penguins')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [4]:
# getting info of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [5]:
# dropping nulls
df = df.dropna()

In [6]:
# creating X & y
X = df.drop(['bill_length_mm'], axis=1)
y = df['bill_length_mm']

In [7]:
# splitting X & y into training & testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=18)

In [8]:
# selecting categorical features
cat = df.select_dtypes(['object', 'category']).columns.to_list()

In [9]:
# model training
model = cb.CatBoostRegressor(n_estimators=500, learning_rate=0.02, loss_function='RMSE', nan_mode='Min', 
                             bootstrap_type='Bayesian', random_state=18)
model.fit(X_train, y_train, eval_set=[(X_test, y_test)], cat_features=cat, verbose=0, early_stopping_rounds=50)

In [10]:
# model evaluation
print('R2: ', (r2_score(y_test, model.predict(X_test)) * 100).round(2))

R2:  84.31